.title-service {
  font-size: 70px;
  text-align: end;
  font-family: "tt-norms", sans-serif;
  font-weight: 600;
  margin-right: 480px;
}

@media (max-width: 1910px) {
  .title-service {
    margin-right: 295px;
  
  }
}

h3{
  padding-top: 0.25em;
}

.vertical-timeline-element-content {
  padding: 2em 3em !important;
}

#description{
  margin: 1.5em 0 2em 0;
}

.service-p{
 background-color: #F4F5F6
}

.linha-da-timeline{
  
}
