.title-service {
  font-size: 70px;
  text-align: end;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 800;
  margin-right: 500px;
}

h3{
  padding-top: 0.25em;
}

.vertical-timeline-element-content {
  box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0, 0.25), 0 0.4em 1.25em 0 rgba(0,0,0, 0.15) !important ;
  padding: 2em 3em !important;
}

#description{
  margin: 1.5em 0 2em 0;
}

.service-p{
  background-color: #F4F5F6
}



.vertical-timeline {
  position: relative;
  

}

.vertical-timeline::before {
  top: 95px;    
  
}

