
.hero{
   min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 5%;
    box-sizing: border-box;
    margin-bottom: 10px;
}
/* 
.h-left{
    flex-grow: 1; 
}

.title{
    font-family: 'tt-norms', sans-serif;
    font-size: 80px;
    font-weight: 800;
    line-height: 60px;
    margin: 20px 0;
    margin-top: 140px;
}


.sparkle{
    font-size: 140px;
    font-weight:lighter;
    

    /* Implementando a logica da letra animada - background -> @keyframes */


.grid-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr); /* 6 colunas */
  grid-template-rows: repeat(12, 1fr); /* 12 linhas para modularidade */
  gap: 20px;
  padding: 40px;
  height: 100vh;
}

/* Cabeçalho no canto superior esquerdo */

.japa{
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  font-size: 0.9rem;
}

/* Texto central grande */
.main-text {
  grid-column: 1 / 6;
  grid-row: 4 / 6;
  font-size: 5.2rem;
  font-weight:bold;
  line-height: 1.2;
  font-family: 'tt-norms';
}

.sparkle{
    /* Implementando a logica da letra animada - background -> @keyframes */
    background: linear-gradient( to right, #fc72ff,#8f68ff,#487bff,#8f68ff,#fc72ff);
    background-size: 200%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-gradient 2.5s linear infinite;

}

@keyframes animate-gradient{
    to{
        background-position: 200%;
    }
}

/* Texto de corpo embaixo */
.body-text {
  grid-column: 1 / 4;
  grid-row: 9 / 11;
  font-size: 0.8rem;

}

.grid-container::before {
  content: "";
  position: absolute;
  top: 0; left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(12, 1fr);
  gap: 20px;
  pointer-events: none;
  z-index: 10;
}

