.card-inovacao {
  background-color: #080808; /* Fundo bem escuro, quase preto */
  color: #ffffff; /* Cor do texto principal (branco) */
  padding: 80px 120px; 
  text-align: left; /* Alinha o texto à esquerda */
  width: 100%; /* O card ocupa toda a largura disponível */
  box-sizing: border-box; /* Garante que o padding não aumente a largura total */
  font-family: 'Arial', sans-serif; 
}

.titulo-principal {
  font-size: 2.0em; /* Tamanho da fonte grande para o título */
  font-weight: bold; /* Título em negrito */
  margin-bottom: 25px; /* Espaçamento abaixo do título */
  line-height: 1.1; /* Altura da linha para o texto não ficar muito junto */
}

.destaque {
  color: #2474f6; 
  display: block; /* Faz com que o destaque ocupe toda a linha */
}

.subtitulo {
  font-size: 3.5em; /* Tamanho da fonte para o subtítulo */
  color: #ffffff; /* Subtítulo branco */
  margin-bottom: 40px; 
  font-weight: normal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
  letter-spacing: 0.2em;
}

.saiba-mais {
  font-size: 0.8em; 
  color: #cccccc; 
  text-align: center; /* Centraliza o texto do link */
  display: inline-flex; /* Permite alinhar o ícone com o texto */
  gap: 8px; /* Espaço entre o texto e o ícone */
  align-items: center; /* Alinha verticalmente o texto e o ícone */
  margin-top: 20px; /* Espaçamento acima do link */
  
}

.saiba-mais-img {
  position: relative;
  top: -10px; /* Ajuste esse valor até ficar como deseja */
}

.saiba-mais:hover {
  color: #034ec6; /* Cor do link ao passar o mouse */
  cursor: pointer; /* Muda o cursor para indicar que é clicável */
  text-decoration: underline;
}

.saiba-mais:hover img{
  filter: brightness(0.7); /* Exemplo: deixa o ícone mais escuro */
}


@media (max-width: 768px) {
  .card-inovacao {
    padding: 40px 30px; /* Reduz o padding em telas menores */
  }

  .titulo-principal {
    font-size: 2.5em;
  }

  .subtitulo {
    font-size: 1.4em;
  }

  .saiba-mais {
    font-size: 1em;
  }
}

