@import "tailwindcss";

.card .img img{
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #fff;
}

.card .img{
    background: #8B53FF;
    width: 148px;
    height: 148px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.body-team{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    /* background: linear-gradient(to left top, #031A9A, #8c53ff); */
}

.team-title {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    color: blue;  
    font: bold 2.5em 'Open Sans', sans-serif;
    margin-top: -150px;
}

.wrapper{
    max-width: 1100px ;
    width: 100%;
    position: relative;
}

.wrapper .i{
    height: 50px;
    width: 50px;
    background: #fff;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    font-size: 1.25rem;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
}

.wrapper .i:first-child{
    left: 22px;
}


.wrapper .i:last-child{
    right: -22px;
}

.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100%/3) - 12px);
    gap: 20px;
    overflow: hidden;
}

.carousel :where(.card, .img){
    
    align-items: center;
    justify-content: center;

}

.carousel .card{
    height: 342px;
    list-style: none;
    background: #fff;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 10px;
    cursor: pointer; 
    margin: 0 12px;   

}

.card h2{
    font-weight: 500;
    font-size: 1.56rem;
    margin: 30px 0 5px;
}

.card span{
    color: #6a6d78;
    font-size: 1.31rem;
}



.faixa-prom{
    background-color: #040D43;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px 20px;
    gap: 25px;

    height: 300px;
    
}

.faixa-prom h1{
    font-size: 32px;
    font-weight: bold;
    margin: 0;
}


.faixa-prom h4 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  max-width: 800px;
}



.b-teste {
    margin-top: 10px;
    text-decoration: none;
    color: #fff;
    background-color: rgb(8, 119, 229);
    padding: 12px 28px;
    border-radius: 25px;
    font-weight: 600;
    transition: background-color 0.3s ease;
}


.b-teste:hover{
    background-color: #0056b3;
}

.about-title{
    color: #080101;
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
}

.about-text{
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 1200px; 
    margin: 0 auto;
    flex-wrap: wrap; 
    padding: 20px; 
}

.about-text-coluna{
    flex: 1;
    min-width: 300px; 
    max-width: 600px; 
    padding: 20px ; 
    box-sizing: border-box; 
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}
.coluna-com-linha{
    position: relative;
  padding-left: 20px; /* Espaço para a linha */
}

.coluna-com-linha::before {
  content: '';
  position: absolute;
  left: -30px;
  top: 0;
  bottom: 0px;
  width: 4px;
  background-color: #4983df; 
}

/* Estilos para o título e subtítulo também */
.about-title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 30px;
}

.mid_titulo { /* O Que nos torna únicos */
    font-size: 2em;
    font-family:'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 50px; /* Espaçamento após o CardInovacao */
    margin-bottom: 30px;
}









