.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  background-color: #f8f7f5;
  margin: 50px auto;
  padding: 20px;
  max-width: 600px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.contact-form label {
  font-weight: bold;
}

.titulo-contato {
  font-size: 40px;
  font-weight: bold;
  text-align: left;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  align-self: flex-start;
  padding: 12px 24px;
  font-size: 16px;
  background-color: rgb(4, 101, 199);
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
